/src/
/pkg/
/*.pkg.tar.zst

# Project exclude paths
/cmake-build-*/
/.idea/

/resources.hpp
/webpages/

# All
/debpackage/*
# except
!/debpackage/makepkg.sh

# All
/ftp/debpackage/*
# except
!/ftp/debpackage/makepkg.sh
