Package: fineftp-server
Essential: no
Priority: optional
Maintainer: imperzer0 <imperator999mcpe@gmail.com>
Version: 1.3.5
Architecture: amd64
Depends: libasio-dev
Description: Lightweight c++ web server for linux with ftp
